---
---

@import "{{ site.theme }}";

.wrapper{
  max-width: calc(1000px - (30px * 2));
}

a, h1, h2, h3 {
  color: red;
}

a:visited {
  color: red;
}

.site-nav .page-link {
  color: red;
}


.page-heading {
  font-size: 48px;
  letter-spacing: -1px;
  line-height: 1;
}

.site-header {
  border-top: none;
  border-bottom: none;
}