---
layout: default
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>
  <div class="post-content">
    <div class="head-nav">
      <span class="head-nav-left"><a href="/index"><img src="/images/CanadaClubBerneLogo-2d.jpg" alt="logo" width="2000px" max-width="50%" height="auto"></a></span>
      <span class="head-nav-right"><a href="{{ page.name | remove: ".md" }}-fr"><img src="/images/Maple-Leaf-French.jpg" alt="logo" width="30%" height="auto"></a></span>
    </div>    
    {{ content }}
  </div>
</article>
